#scores {
    font-size: 15px;
    border: none;
    background: none;
    text-align: center;
    outline: none;
    color: blueviolet;
}

#scores:hover {
    font-weight: bolder;
}

#countdown {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

p,.text-input {
    align-items: center;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.btn {
    border: none;
    outline: invert;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: center;
    align-items: center;
    width: 25%;
    font-size: 25px;

}

.questions {
    border: 3px;
    border-color: black;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: left;
    align-items: center;
    font-size: 20px;
    margin: 10px;
}

#incorrect {
    display: none;
}

#player-score {
    display: none;
}

#high-scores {
    display: none;
}

.form-group  {
   display: block;
}

.form-group .btn {
    width: 50%;
}

