#scores {
    font-size: 15px;
    border: none;
    background: none;
    text-align: left;
    outline: none;
    color: blueviolet;
}

#scores:hover {
    font-weight: bolder;
}

#countdown {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.title {
    display: flex;
    font-weight: bold;
    font-size: 35px;
    text-align: left;
}

.btn {
    border: none;
    outline: invert;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: left;
    align-items: left;
    width: 50%;

}

.questions {
    border: 3px;
    border-color: black;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: left;
    align-items: left;
    font-size: 20px;
}

#incorrect {
    display: none;
}

#player-score {
    display: none;
}

#high-scores {
    display: none;
}